<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{ifset title}{include title|stripHtml} | {/ifset}CT Blog Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.css">

    <!-- Use this css for that pretty checkboxes (https://github.com/paveljanda/happy) -->
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/happy/dist/happy.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid.css">

    <!-- Use this css for ajax spinners -->
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.css">
</head>
<body>
<script> document.body.className+=' js' </script>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Blog CT</a>
            </div>
            <ul class="nav navbar-nav">
                <li {ifCurrent Homepage:} class="active" {/ifCurrent}><a n:href="Homepage:">Články</a></li>
                {if $user->loggedIn}
                    <li {ifCurrent Post:create} class="active" {/ifCurrent}><a n:href="Post:create">Napsat nový článek</a></li>
                    {if $user->isInRole('Admin')}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Uživatelé<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li {ifCurrent Homepage:showUsers} class="active" {/ifCurrent}><a n:href="Homepage:showUsers">Přehled uživatelů</a></li>
                                <li {ifCurrent Sign:up} class="active" {/ifCurrent}><a n:href="Sign:up">Přidat nového uživatele</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kategorie<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li {ifCurrent Homepage:showCategories} class="active" {/ifCurrent}><a n:href="Homepage:showCategories">Přehled kategorií</a></li>
                                <li {ifCurrent Category:create} class="active" {/ifCurrent}><a n:href="Category:create">Přidat novou kategorii</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Štítky<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li {ifCurrent Homepage:showTags} class="active" {/ifCurrent}><a n:href="Homepage:showTags">Přehled štítků</a></li>
                                <li {ifCurrent Tags:create} class="active" {/ifCurrent}><a n:href="Tags:create">Přidat nový štítek</a></li>
                            </ul>
                        </li>
                    {/if}
                {/if}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {if $user->loggedIn}
                    <li {ifCurrent User:edit} class="active" {/ifCurrent}><a n:href="User:edit $user->id">Upravit údaje</a></li>
                    <li><a n:href="Sign:out">Odhlásit</a></li>
                {else}
                    <li {ifCurrent Sign:in} class="active" {/ifCurrent}><a n:href="Sign:in">Přihlásit</a></li>
                {/if}
            </ul>
        </div>
    </nav>
    <br><br>
</header>
<div class="container">
    <br>
    <div n:foreach="$flashes as $flash" n:class="alert, $flash->type">{$flash->message}</div>

    {include content}

	{block scripts}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>
        <script type="text/javascript" src="{$basePath}/js/main.js"></script>
	{/block}
    <footer>
        <p></p>
    </footer>
</body>
</html>
