{block content}
{if $user->loggedIn}
    <h1 n:block="title">Oddělení ČT</h1>
    <br>
    {if $user->isInRole('Admin')}
        {control simpleGridArticlesAdmin}
    {else}
        {control simpleGridArticles}
    {/if}
{else}
    <h1>Nejdřív se musíte přihlásit</h1>
{/if}
{/block}
{block scripts}
    <script src="{$basePath}/bower_components/jquery/dist/jquery.js"></script>
    <script src="{$basePath}/bower_components/nette-forms/src/assets/netteForms.js"></script>

    <!-- Use this tiny js for that pretty checkboxes (https://github.com/paveljanda/happy) -->
    <script src="{$basePath}/bower_components/happy/dist/happy.js"></script>
    <script src="{$basePath}/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="{$basePath}/bower_components/jquery-ui-sortable/jquery-ui-sortable.js"></script>
    <script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid.js"></script>

    <!-- It is recommended to include this JS file with just a few bits. It refreshes URL on non ajax request -->
    <script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-instant-url-refresh.js"></script>

    <!-- Use this little extension for ajax spinners -->
    <script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.js"></script>

    <!-- Include bootstrap.js for proper behaviour of ColumnStatus -->
    <script src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.js"></script>
{/block}