{block content}

<h1>Upravit příspěvek</h1>
<form n:name=postForm>
    <div class="row">
        <div class="form-group col-sm-4">
            <label n:name=title>Titulek:</label>
            <input class="form-control" n:name=title>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-4">
            <label n:name=slug>Slug:</label>
            <input class="form-control" n:name=slug>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label n:name=lead>Perex:</label>
            <textarea class="form-control" n:name=lead></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label>Nahraný obrázek:</label>
            <img src="{$basePath}/{$image}" style="width: 100%">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label n:name=lead_image>Nahrat nový obrázek:</label>
            {input lead_image}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label n:name=content>Text: </label>
            <textarea class="form-control" n:name=content></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label n:name=category>Kategorie:</label>
            <select class="form-control" n:name=category></select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label>Souvisejici:</label>
            <select class="form-control" style="margin: 5px" n:name=related1>
            </select>
            <select class="form-control" style="margin: 5px" n:name=related2>
            </select>
            <select class="form-control" style="margin: 5px" n:name=related3>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label n:name=tags>Štítky:</label>
            <input class="form-control" n:name=tags>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <div class="checkbox">
                <label><input type="checkbox" n:name=state>Uložit jako koncept?</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label n:name=date>Datum:</label>
            <input class="form-control" n:name=date>
        </div>
    </div>
    <input n:name=send class="btn btn-default">
</form>
<script type="text/javascript" src="//cdn.tinymce.com/4/tinymce.min.js?apiKey=cfppamm2k2izbis0nfcnjo5nc1zz5gw1g7xh9liiigkyfb0c"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea[name=content]",
        setup: function (editor) {
            editor.on('change', function () {
                editor.save();
            });
        },
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link ",
        entities: "160,nbsp",
        entity_encoding: "named"
    });
</script>
{/block}