{block content}
    {if $user->loggedIn}<a n:href="edit $post->id">Upravit příspěvek</a>{/if}
    <div class="well col-sm-6">
        <div class="date">{$post->date|date:'F j, Y'}</div>
        {$post->lead_image}
        <h1 n:block="title">{$post->title}</h1>
        <div class="post">{$post->content|noescape}</div>
    </div>

{/block}