{block content}
<h1 n:block=title>Sign In</h1>

<form n:name=signInForm>
    <div class="row">
        <div class="form-group col-sm-4">
            <label n:name=email>Email:</label>
            <input class="form-control" n:name=email>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label n:name=password>Heslo:</label>
            <input class="form-control" n:name=password>
        </div>
    </div>
    <input n:name=send class="btn btn-default">
</form>

