{block content}
<h1 n:block=title>Sign Up</h1>

{form signUpForm}
    <div class="row">
    <div class="errors col-sm-4" n:if="$form->hasErrors()">
        <div n:foreach="$form->errors as $error" n:class="alert, alert-danger">{$error}</div>
    </div>
    </div>
{/form}

<form n:name=signUpForm>
    <div class="row">
        <div class="form-group col-sm-4">
            <label n:name=name>Jméno:</label>
            <input class="form-control" n:name=name>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label n:name=surname>Příjmení:</label>
            <input class="form-control" n:name=surname>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label n:name=position>Popis pozice:</label>
            <textarea class="form-control" n:name=position></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label n:name=email>Email:</label>
            <input class="form-control" n:name=email>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label n:name=password>Password:</label>
            <input class="form-control" n:name=password>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label n:name=role>Role:</label>
            <select class="form-control" n:name=role>
            </select>
        </div>
    </div>
    <input n:name=send class="btn btn-default">
</form>
